2024-01-18_DDL_DML_clima_mtl.sql
#DDL_DML_climate_mtl.sql
DDL_DML_save_the_bees.sql
Technical_Documentation.pdf
#Tp2.docx
climate-daily_processed.csv
climate-daily_raw.csv
mtl_pet_1.csv
#mtl_pet_2.csv
#mtl_pet_2_processed.csv
mtl_pet_3.csv
#queryScriptClimate_mtl.sql
save_bees.sql
save_the_bees.csv
